<div class="main">
  <div class="container">
    <h2>3名以上のデュエリストを選抜してください</h2>
    <div class="btn">
      <%= link_to 'デュエリスト追加', new_user_path, class:"square_btn" %>
      <%= link_to '次へ', users_setting_path, class:"square_btn" %>
    </div>
    <div class="pokemon">
      <h2>～選ばれしデュエリストたち～</h2>
      <% @users.each_with_index do |user,index| %>
        <div class="character-icon">
          <%= link_to image_tag("#{user.image}"), user_path(user) %>
          <p><%= user.name %></p>
        </div>
      <% end %>
    </div>
    <div class="btn">
      <%= link_to '削除', user_path(1), :method => :delete, class:"square_btn_red" %>
      <%= link_to '全て削除', users_destroy_all_path, :method => :delete, :data => {:confirm => 'ほんまにそれでええんやな？'}, class:"square_btn_red" %>
    </div>
  </div>
</div>
