<%= link_to '戻る', '/' %>

<div class="container">
  <h2>プレイヤー人数は何名ですか？</h2>
  <p>~3名以上~</p>

  <%= form_tag("/users/create", method: "post") do %>
    <%= label_tag(:num, "人数:") %>
    <%= text_field_tag(:num) %>
    <%= submit_tag("プレイヤー名設定へ") %>
  <% end %>
</div>

<script type="text/javascript">

</script>
