<div class="main">
  <div class="container">
    <h2>結果発表</h2>
    <h2><%= @message %></h2>
    <% if @message == "「市民の勝利です。」" %>
      <%= render :partial => "citizen_win" %>
    <% elsif @message == "「引き分け。喧嘩両成敗です。」" %>
      <%= render :partial => "all_lose" %>
    <% elsif @message == "「人狼の勝利です。」" %>
      <%= render :partial => "wolf_win" %>
    <% else %>
      <%= render :partial => "violation" %>
    <% end %>

    <div class="btn">
      <%= link_to '次のゲーム', users_path, class:"square_btn" %>
      <%= link_to '終了', "/", class:"square_btn_red" %>
    </div>
  </div>
</div>
